.background-image {
    background-image: url('../../assets/images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-size: cover;
    z-index: -999;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    padding: 4rem 0rem;
    text-align: center;
}

header {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    align-items: center;
}

#intro {
    background-color: white;
    margin-left: calc(50% + 50px);
    padding: 2rem;
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    header {
        height: auto;
    }

    .background-image {
        height: 210%;
        background-position: left top;
    }

    #contact {
        background: white;
        margin: auto;
        margin-bottom: 3rem;
    }

    #intro {
        margin: auto;
        margin-top: 3rem;
        width: calc(100% - 9rem);
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    #intro {
        margin-left: calc(40%);
        width: 60%;
    }
}