<header>
    <div class="background-image"></div>
    <section id="intro">
        <h1>Car Hop Logistics</h1>
        <p>🚗 Brokerage services for auto transport and vehicle shipping</p>
        <p>💵 Competitive rates for your budget</p>
        <p>➡️ Become the next in line to ship your vehicle!</p>
        <p>📞 <a class="link" (click)="scroll(contact)">Contact us</a> today for a free quote and delivery estimate.</p>
    </section>
</header>
<main class="wrapper" #contact id="contact">
    <chls-contact>
        <h2>Looking to ship your vehicle?</h2>
        <p>🔒 Lock in your rate today! 🔒</p>
        <section class="description">
            <p>Submit your shipment request and we will get back to you shortly.</p>
        <p>For quicker response, give us a call at <a class="link" href="tel:214-399-4639">(214) 399-4639</a></p>
        </section>
    </chls-contact>
</main>