<div class="wrapper">
  <label [for]="id">{{label}}
    <span *ngIf="isRequired">*</span>
  </label>
  <input
    [class.error]="(control.touched || control.dirty) && control.errors"
    [type]="isNumberField ? 'number' : 'text'"
    [min]="isNumberField ? 0 : null"
    [id]="id"
    [name]="id"
    [required]="isRequired"
    [formControl]="control"
    [mask]="id == 'phone' ? '(000) 000-0000' : id == 'date' ? 'M0/d0/0000' : null"
    [email]="id == 'email' ? true : false">
  <div class="form-error"
    *ngIf="(control.touched || control.dirty) && control.errors?.required">
    {{ errorMessage }}
  </div>
  <div class="form-error"
    *ngIf="(control.touched || control.dirty) && control.errors?.mask">
    Please enter valid {{ label | lowercase }}
  </div>
  <div class="form-error"
    *ngIf="(control.touched || control.dirty) && control.errors?.email">
    Please enter valid email
  </div>
</div>