@import '../../../assets/color';

.wrapper {
  text-align: left;
  margin: auto;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 500;
}

input {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  outline: none;

  &:focus {
    border-color: $primary;
  }
  
  .error {
    border-color: $error;
  }
}

span {
  color: $error;
}

.error {
  border-color: $error;
}