header {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: auto;
    background-image: url('../../assets/images/bg-3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    z-index: -999;
    background-position: left top;
}

#contact {
    background: white;
    max-width: 900px;
    padding: 2rem;
    margin: auto;
    margin-bottom: 3rem;
}

#intro {
    background-color: white;
    padding: 2rem;
    background-color: white;
    margin: auto;
    margin-top: 3rem;
    max-width: 900px;
    width: calc(100% - 9rem);
    margin-bottom: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li::before {
    content: "✔️";
    margin-right: .5rem;
  }
}

.wrapper {
    padding: 4rem 0rem;
    text-align: center;
}

.description {
    margin-bottom: 1rem;
}

.description p {
    margin: 0;
}