<header>
    <section id="intro">
        <h1>Need a rate?</h1>
        <p>Car Hop Logistics is an independently owner-operated trucking company 🚚 with capacity to carry freight coming through the Dallas-Fort Worth area. In additional to auto transport brokerage, we are available for long hauls as well as interstate. Please <a class="link" (click)="scroll(contact)">contact us</a> directly for loads you wish to ship.</p>
        <p>We currently service the following loads:</p>
        <ul>
            <li>Power Only</li>
            <li>Intermodal (BNSF-Alliance)</li>
            <li>Dry Van</li>
        </ul>
        <p>We are working to expand our operations everyday. Please check back as we start to service more rail ramps and different load types.</p>
    </section>
</header>
<main class="wrapper" #contact id="contact">
    <chls-contact>
        <h2>Looking to book your freight?</h2>
        <p>🔒 Lock in your rate today! 🔒</p>
        <p>Submit your freight request and we will provide a free quote and delivery estimate.</p> 
    </chls-contact>
</main>