/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import 'assets/color';
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.button {
  padding: 10px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.primary {
  background-color: $primary;
  color: white;
}

.button:disabled {
  background-color: rgb(196, 196, 196) !important;
  color: rgba(16, 16, 16, 0.3);
}

.form-error {
  color: $error;
  font-size: 1rem;
}