/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import 'assets/color';
body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.button {
  padding: 10px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.primary {
  background-color: $primary;
  color: white;
}

.button:disabled {
  background-color: #c7c7cf !important;
  color: rgba(16, 16, 16, 0.3);
}

.form-error {
  color: $error;
  font-size: 1rem;
}

a {
  cursor: pointer;
}

.link {
    color: $primary;
    font-weight: medium;
    text-decoration: underline;
    cursor: pointer;
  &:visited {
    color: $primary;
  }
}

h1 {
  margin: 0;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}

h2 {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  h1 {
      font-size: 3rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
  h1 {
      font-size: 3rem;
  }
}