<div class="wrapper">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['']">
          <!-- <div class="logo-image"> -->
            <img src="image" class="img-fluid">
          <!-- </div> -->
        </a>
      </li>
      <li><a [routerLink]="['/ship']">Ship Vehicles</a></li>
      <li><a [routerLink]="['/book']">Find Shipments</a></li>
      <li><a [routerLink]="['/contact']" class="active">Contact</a></li>
    </ul>
  </nav>
  
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <!-- Social media -->
    &copy; 2022 Car Hop Logistics, LLC. All rights reserved.
  </footer>
</div>