@import '../../assets/color';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $secondary;
}

li {
  float: left;
}

li:last-child {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

#logo {
  padding: 0 16px;
  height: 100%;
  display: block; 
  img {
    height: 49px;
    position: relative;
    top: 50%;
    transform: translateY(7%);
  }
}

li a:hover:not(.active) {
  background-color: $secondary-accent;
}

.active {
  background-color: $primary;
}

nav {
  // position: absolute;
  // top: 0;
}

footer {
  padding: 2rem;
  background-color: $secondary;
  color: white;
  text-align: center;
  .copy {
    font-size: 12px;
    margin-top: .5rem;
  }
  p {
    margin: 0;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}