<div class="wrapper">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['']">
          <!-- <div class="logo-image"> -->
            <img src="image" class="img-fluid">
          <!-- </div> -->
        </a>
      </li>
      <li><a [routerLink]="['']">Ship Vehicles</a></li>
      <li><a [routerLink]="['/book']">Book Freight</a></li>
      <li><a (click)="scrollToContact()" class="active">Contact</a></li>
    </ul>
  </nav>
  
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <!-- Social media -->
    <p>705 Big Stone Gap, Duncanville, TX 75137</p>
    <p><a class="link" href="tel:214-399-4639">(214) 399-4639</a> 🌟 <a class="link" href="mailto:carhoplogistics@gmail.com">carhoplogistics@gmail.com</a></p>
    <p class="copy">&copy; 2022 Car Hop Logistics, LLC. All rights reserved.</p>
  </footer>
</div>